LEADS_WEBHOOK_URL=https://hook.eu1.make.com/xxxx

# Alias compatibles para el mismo webhook de Make/CRM:
# LEAD_WEBHOOK_URL=https://hook.eu1.make.com/xxxx
# CRM_WEBHOOK_URL=https://hook.eu1.make.com/xxxx
